html, body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Venti Demi-Bold';
    color: #555;
}

#site {

}

#site .logo-component {
	font-size: 50px;
}

#site .logo {
	margin-top: 100px;
}

.tagline {
	color: #777;
}

#call-to-action {
	width: 100%;
	height: 100px;
	text-align: center;
	padding-top: 8px;
	font-size: 22px;
	outline: none;
	margin: 0 auto;
	margin-top: 100px;
	font-family: 'Venti Bold';
}

#main {
	display: none;
}

.logo img {
	margin-top: -12px;
	margin-right: 10px;
}

.logo-component {
	display: inline-block;
}

.action-area {
	margin: 0 auto;
}

.editor {
	border: 1px solid black;
	height: 200px;
	padding: 0px;
}

.code-area {
	height: 200px;
}

.CodeMirror {
	height: 100%;
	width: 100%;
	padding: 0px;
}

.output {
	height: 268px;
	border: 1px solid black;
	padding: 0px;
}

.action-btn button {
	background: #ff9900;
	opacity: 0.7;
	border-radius: 100%;
	outline: none;
	border: none;
	width: 50px;
	height: 50px;
	font-size: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 5px;
	color: #fff;
}

.action-btn button:hover {
	opacity: 1;
}

#save-code {
	border-radius: 100%;
	width: 80px;
	height: 80px;
}

.control-panel button {

}

.video-tutorial iframe {
	margin-top: 50px;
	border-radius: 10px;
}

/* HOVER EFFECTS */

/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  border: 5px solid #555;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #fff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff9900;
  color: #555;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
